.game__clock {
  width: 256px;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  p {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.4);
  }
}
