.button__start {
  width: 129px;
  height: 36px;
  background: #F2F9FE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #2196F3;
  }
}
.user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.icon__db {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user__logo {
  display: none;
}

